<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>java1711web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>TimeSrvlet</servlet-name>
    <servlet-class>diyigebao.Suibian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TimeSrvlet</servlet-name>
    <url-pattern>/time</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FindStudent</servlet-name>
    <servlet-class>controller.StudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindStudent</servlet-name>
    <url-pattern>/findStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>controller.AddStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/addStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>diyigebao.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LifeServlet</servlet-name>
    <servlet-class>diyigebao.LifeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LifeServlet</servlet-name>
    <url-pattern>/lifeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZongHe</servlet-name>
    <servlet-class>controller.ZongHe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZongHe</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZhuanQian</servlet-name>
    <servlet-class>diyigebao.ZhuanQian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhuanQian</servlet-name>
    <url-pattern>/zhuanQian</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DiaoYongLuJing</servlet-name>
    <servlet-class>controller.DiaoYongLuJing</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>ContextServlet</servlet-name>
    <servlet-class>diyigebao.ContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextServlet</servlet-name>
    <url-pattern>/contextServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContextServlet2</servlet-name>
    <servlet-class>diyigebao.ContextServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContextServlet2</servlet-name>
    <url-pattern>/contextServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TongJiCiShu</servlet-name>
    <servlet-class>diyigebao.TongJiCiShu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TongJiCiShu</servlet-name>
    <url-pattern>/tongJiCiShu</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DownLoadServlet</servlet-name>
    <servlet-class>diyigebao.DownLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LastAccessTimeServlet</display-name>
    <servlet-name>LastAccessTimeServlet</servlet-name>
    <servlet-class>diyigebao.LastAccessTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LastAccessTimeServlet</servlet-name>
    <url-pattern>/lastAccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServlet</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>diyigebao.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/Cook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginSession</display-name>
    <servlet-name>LoginSession</servlet-name>
    <servlet-class>diyigebao.LoginSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginSession</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
</web-app>